*~
\#*
build/
.cache
.cache-main
.cache-main
.cache-main
.cache-tests
.cache-tests
.cache-tests
.classpath
.DS_Store
.externalToolBuilders/
.factorypath
.gradle
.idea
*.iml
*.ipr
*.iws
.java-version
.mailmap
.project
.scala_dependencies
.settings
.shell_history
tags
target/
Thumbs.db
devenv.local
