.listingblock pre, .literalblock pre, .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
    background: #f9f9f9;
    border: 1px solid #dddddd;;
}

#header, #content, #footnotes {
    max-width: 940px;
}

html, body {
    font-size: 16px;
}

#content ul.nav-tabs li {
    background: none;
    padding-left: 0;
}

.admonitionblock > table td.content {
    color: inherit;
    font-size: 1em;
}

.quoteblock.abstract blockquote {
    padding: 8px;
    background: none;
    border: 1px solid #666666;
    border-radius: 4px;
}

.comment {
    background: #fff3b8;
}

pre {
    line-height: 1;
}

pre code {
    font-size: .85em;
    line-height: 1;
    word-wrap: normal;
    overflow-wrap: normal;
    white-space: pre;
}

.tabbed-example .content > div:last-child,
.tabbed-example .content > div:last-child p,
.tabbed-example .content > div:last-child .highlight:last-child {
    margin-bottom: 0px;
}
